:root {
  --text-color: #333333;
  --white: #fff;
  --orange: #fcb045;
  --facebook-color: #1877f2;
  --linkedin-color: #0a66c2;
  --instagram-color: linear-gradient(to right, #833ab4, #fd1d1d, #fcb045);
  --shadow-color: #5f6769;
}

body {
  color: #333333;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  box-sizing: border-box;
  margin: 0;
}

#first-background {
  background-image: url(./images/coding_pic.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 320px;
}
img {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}

.profile-picture img {
  width: 140px;
  border-radius: 50%;
}
#first-div {
  width: 140px;
  position: relative;
  top: 120px;
  left: 40px;
  bottom: 0;
}
#title {
  color: #fff;

  margin: 0.2rem;
  text-align: center;
}
.fa-brands {
  margin-left: 10px;
  color: var(--white);
  font-size: medium;
}
.fa-facebook:hover {
  background: var(--facebook-color);
  border-radius: 50%;
}
.fa-linkedin:hover {
  background: var(--linkedin-color);
  border-radius: 10%;
}
.fa-instagram:hover {
  background: var(--instagram-color);
  border-radius: 25%;
}
.fa-x-twitter:hover {
  background: black;
}

/* NAVIGATION LINKS*/
nav#nav-bar {
  display: flex;
  justify-content: center;
}
nav#nav-bar ul {
  padding: 2rem;
}
#nav-bar ul > li {
  list-style-type: none;
  border-radius: 0.2rem;
  background-color: var(--orange);
  box-shadow: -5px 5px var(--shadow-color);
  margin: 0.5rem;
  text-align: center;
  padding: 0 5rem;
}
#nav-bar ul > li a {
  text-decoration: none;
  color: var(--text-color);
  font-size: 20px;
  line-height: 3rem;
  text-transform: uppercase;
}
#nav-bar > ul > li a:hover {
  color: var(--white);
  /*background-color: #333333;*/
}

/*MAIN SECTION*/
.div-photos {
  width: 90%;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}
.photo img {
  height: 10rem;
  width: 14rem;
  border-radius: 10% 5%;
}
figcaption {
  text-align: center;
}
#interest p {
  font-size: 2rem;
  margin-left: 2rem;
  margin-bottom: 0;
}

/*FOOTER*/

footer#footer_section {
  background-color: var(--text-color);
  color: var(--white);
  text-align: center;
  font-size: 0.6rem;
  padding: 2rem 0;
}
footer#footer_section > a {
  color: var(--white);
  text-decoration: none;
}

footer#footer_section > a:hover {
  color: var(--text-color);
  background-color: var(--white);
  padding: 0.1rem;
  border: 1px solid var(--shadow-color);
  border-radius: 5px;
}
div.social-media-icon {
  margin: 0.5rem;
}

/*MOBILE*/

@media (max-width: 480px) {
  #first-div {
    width: 140px;
    position: relative;
    top: 250px;
    left: 33%;
  }
  nav#nav-bar ul {
    padding: 2rem;
    margin-top: 150px;
  }

  #title {
    color: var(--text-color);
    font-size: large;
  }
}
